# Gradle
/.gradle
/build

# Eclipse
.classpath
.project
/.settings
/bin

# IntelliJ
/.idea
*.iml
*.ipr
*.iws
/out

# Mac Specific
.DS_Store

# MkDocs
/site

# Project-Specific
/tinventory-logs
*.data
*.csv
 
